<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyApp Test Suite" parallel="false">
    <test name="Login and SignIn Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.SignInTest"/>
        </classes>
    </test>
</suite>





